<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application>
        <!-- 无地图包不携带 AMap SDK，也不保留地图 API Key 配置。 -->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            tools:node="remove" />
    </application>
</manifest>
